{% import 'helper.twig' as helper %}
{% extends 'layout.html.twig' %}

{% block content %}
<h2><a name="COD1NGDAV1NC1"></a>}COD1NG DA V1NC1{</h2>
<ul class="listing-large">
    <li><div>
            <a href="http://codingdavinci.de/" target="_blank"><img src="{{ app.request.basepath }}/img/about/codingdavinci.png" /></a>
        </div>
        Diese Web-Site entstand im Rahmen von <a href="http://codingdavinci.de/" target="_blank">{COD1NG DA V1NC1}</a>, dem ersten „Kultur-Hackathon“ in Berlin, der zwischen dem 26./27. April und dem 5./6. Juli 2014 stattfand.</p>
    </li>
</ul>


<h2><a name="project"></a>Projektbeschreibung</h2>

<ul class="listing-large">
    <li><a href="http://daten.berlin.de/datensaetze/liste-der-verbannten-b%C3%BCcher" target="_blank">
        <div>
            <img src="{{ app.request.basepath }}/img/about/liste.png" />
        </div></a>
        <div style="display: table-cell">
            <strong>Datengrundlage</strong><br />
            Als Datengrundlage dient die vom Land Berlin als offene Daten veröffentlichte <a href="http://daten.berlin.de/datensaetze/liste-der-verbannten-b%C3%BCcher" target="_blank">Liste der verbannten Bücher</a>. Diese zwischen 1938 und 1941 von der „Reichsschriftkammer“ erstellten Verbotslisten umfassen knapp 5'000 unerwünschte Einzelpublikationen sowie fast 1'000 Autorinnen und Autoren sowie eine Reihe von Verlagen, deren Gesamtwerk im „Dritten Reich“ verboten wurde.
        </div>
    </li>
    <li>
        <div>
            <img src="{{ app.request.basepath }}/img/about/dnb.png" />
        </div>
        <div style="display: table-cell">
            <strong>Datenaufbereitung</strong><br />
            In einem zweiten Schritt erfolgte ein automatisierter Abgleich der Listeneinträge mit den <a href="http://www.dnb.de/lds" target="_blank">Katalogdaten der Deutschen Nationalbibliothek</a>.<br />
            Dieser Abgleich ermöglichte eine eindeutige Identifikation der Autor/innen und Herausgeber über die sogenannte <a href="http://de.wikipedia.org/wiki/Hilfe:GND" target="_blank">GND-Nummer</a>.
        </div>
    </li>
    <li>
        <div>
            <img src="{{ app.request.basepath }}/img/about/wikidata.png" />
        </div>
        <div style="display: table-cell">
            <strong>Datenergänzung</strong><br />
            Über die GND-Nummer konnten aus verschiedenen Web-Services (Wikidata, Entity Facts) Lebensdaten der Personen (Geburts- und Sterbedatum sowie Geburts- und Sterbeort) eingelesen werden. Zudem ermöglicht die GND-Nummer die Verknüpfung mit weiteren Web-Angeboten wie etwa dem entsprechenden Wikipedia-Artikel.<br />
            Bei Autor/innen, deren Gesamtwerk verboten war, wurde der Datenbestand um alle bis 1945 entstandenen und im Katalog der Deutschen Nationalbibliothek verzeichneten Publikation ergänzt.
        </div>
    </li>
    <li>
        <div>
            <img src="{{ app.request.basepath }}/img/about/v-v.png" />
        </div>
        <div style="display: table-cell">
            <strong>Webpräsentation</strong><br />
            Zur Präsentation der Daten wurde diese Web-Site mit Such- und Sortiermöglichkeiten,  umfangreichen Verlinkungen zwischen den Personen-, Publikations- und Ortsdaten sowie automatisiert generierten Verweisen auf externe Angebote erstellt.
        </div>
    </li>
    <li>
        <div>
            <img src="{{ app.request.basepath }}/img/about/kolb.png" />
        </div>
        <div style="display: table-cell">
            <strong>Geschichten</strong><br />
            Neben den Daten präsentiert die Web-Site exemplarisch die Lebensläufe zweier betroffener Autoren (<a href="{{ path('geschichten') }}#kolb">Annette Kolb</a>, <a href="{{ path('geschichten') }}#kaestner">Erich Kästner</a>) mit Hilfe zweier Storytelling-Formate (<a href="http://timeline.knightlab.com" target="_blank">timeline js</a>, <a href="http://storymap.knightlab.com" target="_blank">storymap js</a> des Northwestern University Knight Lab)
        </div>
    </li>
    <li>
        <div>
            <img src="{{ app.request.basepath }}/img/about/analyse.png" />
        </div>
        <div style="display: table-cell">
            <strong>Analysen</strong><br />
            Über eine Reihe von Karten, Datenvisualisierungen und ersten statistischen Auswertungen soll sowohl die Gesamtheit der Daten besser erfassbar, als auch Besonderheiten erkennbar werden.
        </div>
    </li>
    <li>
        <div>
            <img src="{{ app.request.basepath }}/img/about/beacon.png" />
        </div>
        <div style="display: table-cell"><strong>Datenbasis, Web-Services und Schrift</strong><br />
            <a href="http://www.berlin.de/rubrik/hauptstadt/verbannte_buecher/">„Liste des schädlichen und unerwünschten Schrifttums“</a>, Lizenz: CC-BY<br />
            <a href="http://www.dnb.de/lds">Linked Data Service der Deutsche Nationalbibliothek</a>: DNB-Titeldaten und GND-Normdaten, Lizenz: CC0<br />
            <a href="http://beacon.findbuch.de/">SeeAlso-Dienst zu allen bekannten Beacon-Dateien zu Personen</a> („aks“ für all known services)<br />
            Entity Facts: Ein leichtgewichtiger Normdatendienst auf Basis der GND<br />
            <a href="http://wdq.wmflabs.org/api_documentation.html">WikidataQuery API</a><br />
            Schrift: „Archive“ von <a href="http://fontfabric.com/archive-free-font/" target="_blank">Svetoslav Simov/Fontfabric</a>
        </div>
    </li>

    <li>
        <div>
            <img src="{{ app.request.basepath }}/img/about/github.png" />
        </div>
        <div style="display: table-cell">
            <strong>Programm-Code</strong><br />
            Der Programm-Code und die Datenbank zu dieser Web-Site sowie die Import-Tools sind auf Github verfügbar:<br />
            <a href="https://github.com/jlewis91/codingdavinci">Github: Web-Seite und Daten</a><br />
            <a href="https://github.com/mhinters/BannedBookUtils">Github: Import-Tools</a><br />
            Font "Archive" von Svetoslav Simov/Fontfabric
            <a href="https://github.com/mhinters/BannedBookUtils">Github: Import-Tools</a><br />
            Font: „Archive“ von <a href="http://fontfabric.com/archive-free-font/" target="_blank">Svetoslav Simov/Fontfabric</a>
        </div>
            <a href="https://github.com/mhinters/BannedBookUtils">Github: Import-Tools</a>
    </li>
    <li>
        <div>
            <img src="{{ app.request.basepath }}/img/about/lebendigeliste-twitter.png" />
        </div>
        <div style="display: table-cell">
            <strong>Weitere Projekte zu diesem Datensatz im Rahmen von {COD1NG DA V1NC1}</strong><br />
            <a href="http://lebendigeliste.de/">@LebendigeListe</a><br />
            <a href="http://cdvinci.hackdash.org/projects/53a703ff9bfef6693e000007">App „Verbotene Autoren“</a>
        </div>
    </li>
    <li>
        <div>
            <img src="{{ app.request.basepath }}/img/about/links.png" />
        </div>
        <div style="display: table-cell">
            <strong>Weitere Informationen zu den NS-Buchverbotslisten</strong><br />
            <a href="http://www.3sat.de/page/?source=/kulturzeit/themen/171528/index.html">3sat Kulturzeit: Vergessene Geschichte</a><br />
            <a href="http://djgd.hypotheses.org/296">Harald Lordick: Datenbank der in der NS-Zeit verbannten und verbotenen Autoren und Bücher</a>
        </div>
    </li>
</ul>

<h2><a name="team"></a>Team</h2>
<ul class="listing-large">
    <li>
        <div>
            <img src="{{ app.request.basepath }}/img/about/team.png" />
        </div>
        <div style="display: table-cell">
            <strong>Namen aller Teammitglieder</strong><br />
            Daniel Burckhardt (<a href="https://github.com/burki">github</a>)<br />
            Dierk Eichel (<a href="https://github.com/deichel">github</a>)<br />
            Michael Hintersonnleitner (<a href="https://github.com/mhinters/">github</a>)<br />
            Frederike Kaltheuner (<a href="https://github.com/fre8de8rike">github</a>)<br />
            Jeremy Lewis (<a href="https://github.com/jlewis91">github</a>)<br />
            Jonas Parnow (<a href="https://github.com/z3to">github</a>)<br />
            Kristin Sprechert (<a href="https://github.com/kaeseoehrchen">github</a>)<br />
            Kai Teuber (<a href="https://twitter.com/teuberkai">twitter</a> / <a href="https://github.com/teuberkai">github</a>)<br />
            Clemens Wilding (<a href="https://github.com/wigginus">github</a>)
        </div>
    </li>
</ul>

{% endblock %}
