{% import 'helper.twig' as helper %}
{% extends 'layout.html.twig' %}
{% block head %}
    <script src="{{ app.request.basepath }}/js/highchart-js/highcharts.js"></script>
    <script src="{{ app.request.basepath }}/js/highchart-js/themes/sand-signika.js"></script>
    <script type="text/javascript">
    var chart;

    $(document).ready(function() {
        chart = new Highcharts.Chart({
            chart: {
                renderTo: 'container',
                defaultSeriesType: 'column',
                margin: [ 25, 25, 120, 40]
            },
            title: {
                text: 'Titelstichworte'
            },
            subtitle: {
                text: {{subtitle|raw}}
            },
            xAxis: {
                categories: {{categories|raw}},
                labels: {
                    rotation: -90,
                    align: 'right',
                    style: {
                        font: 'normal 11px Verdana, sans-serif'
                    }
                }
            },
            yAxis: [
                {
                    min: 0,
                    // max: 25,
                    title: {
                       text: ''
                    }
                },
                {
                    title: {
                        text: 'Anzahl Nennungen'
                    },
                    opposite: true,
                    min: 0
                    // , max: 25000
                }
            ],
            legend: {
                enabled: true,
                layout: 'vertical',
                align: 'right',
                verticalAlign: 'top',
                x: -100,
                y: 50
            },
            tooltip: {
                // enabled: false,
                formatter: function() {
                   return '<b>' + this.x + '</b>: '
                        + this.series.name + ' '
                        + Highcharts.numberFormat(this.y, 0);
                }
             },
            plotOptions: {
                series: {
                   stacking: 'normal',
                               borderWidth: 0,
                               groupPadding: 0,
                               pointPadding: 0
                }
            },
            series: [
                {
                    yAxis: 0,
                    name: '40er',
                    data: {{ word_40er }}
                },
                {
                    yAxis: 0,
                    name: '30er',
                    data: {{ word_30er }}
                },
                {
                    yAxis: 0,
                        name: '20er',
                        data: {{ word_20er }}
                },
                {
                    yAxis: 0,
                    name: '10er',
                    data: {{ word_10er }}
                },
                {
                    yAxis: 0,
                    name: '00er',
                    data: {{ word_00er }}
                },
                {
                    yAxis: 0,
                    name: 'Ohne Datum',
                    data: {{ word_rest }},
                    color: '#e6550d'
                },
            ]
   });


});
    </script>
{% endblock %}

{% block content %}
    <h1>Titelstichworte nach Epochen</h1>
    <div id="container" style="min-width: 800px; height: 400px; margin: 0 auto;"></div>
    <p class="intro">Sexual- und Eheratgeber, pazifistische Werke, Schriften zur Sozialdemokratie, zur Rolle der Kirchen im Nationalsozialsmus sowie Bücher zu Marx, zur Sowjetunion und zum Judentum wurden systematisch unterdrückt. Diese Verbotspraxis spiegelt sich auch in der Auswertung der häufigsten Begriffe aus den Titeln der verbotenen Publikationen wider. </p>
{% endblock %}