{% import 'helper.twig' as helper %}
{% extends 'layout.html.twig' %}
{% block head %}
    <script src="{{ app.request.basepath }}/js/highchart-js/highcharts.js"></script>
    <script src="{{ app.request.basepath }}/js/highchart-js/themes/sand-signika.js"></script>
    <script type="text/javascript">
        var chart;

        $(document).ready(function() {
            chart = new Highcharts.Chart({
                chart: {
                    renderTo: 'container',
                    defaultSeriesType: 'column'
                    /*, margin: [ 50, 50, 100, 80] */
                },
                title: {
                    text: 'Geburts- und Todesjahr / Publikationsjahr'
                },
                subtitle: {
                    text: {{ subtitle|raw }}
                },
                xAxis: {
                    categories: {{categories|raw}},
                    labels: {
                        rotation: -45,
                        align: 'right',
                        style: {
                            font: 'normal 13px Verdana, sans-serif'
                        }
                    }
                },
                yAxis: [
                    {
                        title: {
                            text: 'Anzahl Werke'
                        },
                        min: 0,
                        // max: 600
                        opposite: true
                    },
                    {
                        min: 0,
                        // max: 25,
                        title: {
                            text: 'Anzahl Personen'
                        }
                    }
                ],
                tooltip: {
                    // enabled: false,
                    formatter: function() {
                        return '<b>' + Highcharts.numberFormat(this.y, 0) + '</b>';
                    }
                },
                plotOptions: {
                    series: {
                        stacking: 'normal',
                        borderWidth: 1,
                        groupPadding: 0,
                        pointPadding: 0
                    }
                },
                series: [
                    {
                        yAxis: 0,
                        name: 'Gesamtwerk',
                        data: {{works_extended}},
                        stack: 'works'
                    },
                    {
                        yAxis: 0,
                        name: 'Individuelle Werke',
                        data: {{works_base}},
                        stack: 'works'
                    },
                    {
                        type: 'line',
                        //dashStyle: 'Solid', // 'shortdot',
                        marker: {
                            enabled: false
                        },
                        yAxis: 1,
                        name: 'Geburtsjahr',
                        data: {{ person_birth }},
                        stack: 'birth',
                        color: '#e6550d'
                    },
                    {
                        type: 'line',
                        //dashStyle: 'Solid',
                        marker: {
                            enabled: false
                        },
                        yAxis: 1,
                        name: 'Todesjahr',
                        data: {{ person_death }},
                        stack: 'death',
                        color: '#303030'
                    }
                ]
       });


    });

    </script>
{% endblock %}

{% block content %}
    <h1>Autor/innen und Werke nach Jahr</h1>
    <div id="container" style="min-width: 800px; height: 400px; margin: 0 auto"></div>
    <p class="intro">Verboten wurde vor allem die Generation der um 1890 geborenen Autor/innen mit ihren zwischen 1920 und 1938 veröffentlichten Werken. Viele davon starben zwischen 1933 und 1945 an den direkten und indirekten Folgen der Verfolgung ihrer Arbeit und Person. </p>
{% endblock %}